{% extends "common/base.html" %}
{% load static %}

{% block content %}
<div id="content-page" class="content-page">
   <div class="container-fluid">
    <div class="row">
     <div class="col-12">
        <div class="iq-card">
            <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between row">
                   <div class="iq-header-title col-12">
                      <h4 class="card-title">Default User Password : <b class="text-danger">{{password}}</></h4>
                   </div>
                   {% if message %}
                   <div class="alert alert-danger col-6 ml-4" role="alert">
                     <div class="iq-alert-icon">
                       <i class="ri-information-line"></i>
                    </div>
                    <div class="iq-alert-text alert-danger">{{message}}</div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <i class="ri-close-line text-danger"></i>
                     </button>
                 </div>
                 {% endif %}
                </div>
                <div class="iq-card-body">

                   <form action="{% url 'auths:add-default-password'%}" method="post">
                      {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="text">Set New Default Password:</label>
                            <input type="text" class="form-control" name="password">
                        </dev>
                    </dev>
                    <br>
                         <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right" >Create</button>
                         </div>
                    </div>
                   </form>
                </div>
             </div>
        </div>
       </div>
       </div>
      </dev>
{% endblock %}
