{% extends "common/base.html" %}
{% load static %}

{% block content %}
<div id="content-page" class="content-page">
<div class="container-fluid">
<div class="row">
<div class="col-lg-8">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
       <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
             <h4 class="card-title">{{header}}</h4>
          </div>

          <div class="iq-card-header-toolbar d-flex align-items-center">
             <div class="dropdown">
                <span >
                <a href="{% url 'market:add-buyer'%}" class="btn btn-primary la la-plus-rounded">Add</a>
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                   <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                   <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                   <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                   <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                   <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                </div>
             </div>
          </div>
       </div>
       <div class="iq-card-body">
          <div class="table-responsive">
             <table class="table mb-0 tbl">
                <thead class="thead-light">
                   <tr>
                       <th scope="col">Buyer Code</th>
                      <th scope="col">Full Name</th>

                      <th scope="col">Action</th>
                   </tr>
                </thead>
                <tbody>

                    {% for buyer in page_obj %}
                   <tr>
                       <td>{{buyer.buyer_code}}</td>
                      <td>{{buyer.full_name}}</td>

                      <td>
                        <a href="{% url 'market:edit-buyer' buyer_id=buyer.id %}" class="badge badge-pill badge-info">Edit</a>
                       <div class="badge badge-pill badge-danger" data-toggle="modal" data-target="#delete{{buyer.id}}">{% if buyer.is_active %}Deactivate{% else %} Activate {% endif %}</div>
                        <div id="delete{{buyer.id}}" class="modal top" tabindex="-1">
                           <div class="modal-dialog modal-sm ">
                               <div class="modal-content bg-white-300">
                                   <div class="modal-header">
                                    <center><h5 class="modal-title text-danger" align="center">Warning</h5></center>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                                   </div>
                                   <div class="modal-body">
                                       <center><i class="icon-help icon-4x mb-3 mt-1 " style="height: 40px;"></i>
                                          <i class="la la-question-circle text-danger" style="font-size:64px"></i>
                                           <h6 class="font-weight-semibold">{% if buyer.is_active %} Do you real want to deactivate? {% else %} Do you want to activate ? {% endif %}</h6>
                                       </center>
                                   </div>
                                   <div class="modal-footer">
                                       <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Cancel</button>
                                       <a href="{% url 'market:delete-buyer' buyer_id=buyer.id %}"><button type="button"
                                               class="btn bg-success">Yes</button></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                     </td>
                   </tr>
                   {% endfor %}
                </tbody>
             </table>
         
          </div>
       </div>
    </div>
 </div>
</div>

{% endblock content %}
{% block js %}
{% include 'common/datatable.html' %}
   <script type="text/javascript">
    $(document).ready(function() {
        $('.tbl').DataTable( {
        destroy: true,
        paging:false,
        ordering:false,
        dom: 'Bfrtip',

        buttons: [
         'excel',
         {   text: '<i class="fa fa-plus-square-o"></i>ACTIVE',
                    className: 'btn btn-primary btn-p',
                     action: function (e, dt, node, config)
                        {
                            var url = "{% url 'market:buyers' %}";
                          window.location=url;

                        }
                },

         { text: '<i class="fa fa-plus-square-o"></i>INACTIVE',
                    className: 'btn btn-danger btn-d',
                     action: function (e, dt, node, config)
                        {
                            var url = "{% url 'market:buyers' %}?status=0";
                          window.location=url;

                        }
                }
        ]
    } );
    });
</script>
{% endblock %}
