{% extends "common/base.html" %}
{% load static %}

{% block content %}
<div id="content-page" class="content-page">
   <div class="container-fluid">
    <div class="row">
     <div class="col-12">
        <div class="iq-card">
            <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between row">
                   <div class="iq-header-title col-12">
                      <h4 class="card-title"> {% if form %} Edit {% else %}Add  {% endif %} Market-Warehouse Shipment</h4>
                   </div>
                   {% if message %}
                   <div class="alert alert-danger col-6 ml-4" role="alert">
                     <div class="iq-alert-icon">
                       <i class="ri-information-line"></i>
                    </div>
                    <div class="iq-alert-text alert-danger">{{message}}</div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <i class="ri-close-line text-danger"></i>
                     </button>
                 </div>
                 {% endif %}
                </div>
                <div class="iq-card-body">

                    <form {% if form %} action="{% url 'shipment:edit-market-warehouse-shipment' shipment_id=form.id%}" {% else %} action="{% url 'shipment:add-market-warehouse-shipment'%}" {% endif %} method="post">
                      {% csrf_token %}
                    <div class="row">
                         <div class="form-group col-6">
                            <label for="text">Market:</label>
                            <select class="form-control select2"  name="market" required>
                              <option {% if form %} value="{{ form.market.id }}" {% else %} selected="" disabled="" {% endif %}> {% if form %} {{form.market.market_name}} {% else %} Select Market {% endif %}</option>
                                {% for market in markets %}
                                <option value="{{market.id}}">{{market.market_name}}</option>
                                {% endfor %}
                            </select>
                         </div>
                         <div class="form-group col-6">
                            <label for="text">Warehouse:</label>
                            <select class="form-control select2"  name="warehouse" required>
                              <option {% if form %} value={{ form.warehouse.id}} {% else %} selected="" disabled="" {% endif %}> {% if form %} {{ form.warehouse.warehouse_name}} {% else %} Select warehouse {% endif %}</option>
                                {% for warehouse in warehouses %}
                                <option value="{{warehouse.id}}">{{warehouse.warehouse_name}}</option>
                                {% endfor %}
                            </select>
                         </div>
                         <div class="form-group col-6">
                            <label for="text">Track:</label>
                            <select class="form-control select2"  name="track" required>
                             
                                {% for track in tracks %}
                                <option value="{{track.id}}" {% if form %} {% if form.track.id == track.id %} selected {% endif %} {% endif %} >({{track}}) </option>
                                {% endfor %}
                            </select>
                         </div>
                         <div class="form-group col-6">
                            <label for="text">Driver:</label>
                            <select class="form-control select2" name="driver" required>
                              <option {% if form %} value={{ form.driver.id}} {% else %} selected="" disabled="" {% endif %}> {% if form %} {{ form.driver.full_name}} {% else %} Select Driver {% endif %}</option>
                                {% for driver in drivers %}
                                <option value="{{driver.id}}">{{driver}}</option>
                                {% endfor %}
                            </select>
                         </div>
                         <div class="form-group col-6">
                           <label for="text">Transport Personnel:</label>
                           <select class="form-control select2"  name="personnel" required>
                              <option {% if form %} value={{ form.personnel.id}} {% else %} selected="" disabled="" {% endif %}> {% if form %} {{ form.personnel.full_name}} {% else %} Transport Personnel {% endif %}</option>
                             {% for staff in staffs %}
                             <option value="{{staff.id}}">{{staff.full_name}}</option>
                             {% endfor %}
                          </select>
                        </div>
                        <div class="form-group col-6">
                           <label for="text">Reveiving Personnel:</label>
                           <select class="form-control select2"  name="personnel_receiver" required>
                              <option {% if form %} value={{ form.personnel_receiver.id}} {% else %} selected="" disabled="" {% endif %}> {% if form %} {{ form.personnel_receiver.full_name}} {% else %} Select Personnel {% endif %}</option>
                             {% for staff in staffs %}
                             <option value="{{staff.id}}">{{staff.full_name}}</option>
                             {% endfor %}
                          </select>
                        </div>
                        {% if not form %}
                         <div class="form-group col-6">
                            <label for="text">Market Request:</label>
                            <select class="form-control select2" name="market_request" required>
                              <option  selected="" disabled="">Select request </option>
                                {% for request in market_requests %}
                                <option value="{{request.id}}">{{request.ticket_request_name}}</option>
                                {% endfor %}
                            </select>
                         </div>
                         {% endif %}
                         <div class="form-group col-6">
                           <label for="text"> Shipment date:</label>
                           <input type="date" class="form-control" {% if form %} value="{{form.shipment_date|date:"Y-m-d" }}" {% endif %} name="shipment_date" required>
                        </div>
                         <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right" >{% if form %} Save  {% else %} Create {% endif %}</button>
                         </div>
                    </div>
                   </form>
                </div>
             </div>
        </div>
       </div>
       </div>
      </dev>

{% endblock %}
