{% extends "common/base.html" %}
{% load static %}

{% block content %}
<div id="content-page" class="content-page">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
       <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
             <h4 class="card-title">List of Warehouse-Processing Shipments</h4>
          </div>
          <div class="iq-card-header-toolbar d-flex align-items-center">
             <div class="dropdown">
                <span >
                <a href="{% url 'shipment:add-warehouse-processing-shipment'%}" class="btn btn-primary la la-plus-rounded">Add</a>
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                   <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                   <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                   <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                   <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                   <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                </div>
             </div>
          </div>
       </div>
       <div class="iq-card-body">
          <div class="table-responsive">
             <table class="table mb-0">
                <thead class="thead-light">
                   <tr>
                      <th scope="col">Shipment #</th>
                      <th scope="col">Warehouse</th>
                      <th scope="col">Processing Centre</th>
                      <th scope="col">Driver</th>
                      <th scope="col">Transport Personnel</th>
                      <th scope="col">Receiving Personnel</th>
                      <th scope="col">Track</th>
                      <th scope="col">Shipment Date</th>
                      <th scope="col">Delivery Date</th>
                      <th scope="col">Shipment Status</th>

                      <th scope="col" class="text-center">Action</th>
                   </tr>
                </thead>
                <tbody>
                  {% if not page_obj %}
                  <div class="alert alert-info text-center col-md-12">There is No Shipment(s) yet!</div>
                          {% endif %}
                    {% for shipment in page_obj%}
                   <tr>
                      <td>{{shipment.shipment_number}}</td>
                      <td>{{shipment.warehouse.warehouse_name}}</td>
                      <td>{{shipment.processing_centre.centre_name}}</td>
                      <td>{{shipment.driver.full_name}}</td>
                      <td>{{shipment.personnel.full_name}}</td>
                      <td>{{shipment.personnel_receiver.full_name}}</td>
                      <td>{{shipment.track.track_name}}</td>
                      <td>
                        {% if shipment.shipment_date %}
                        {{shipment.shipment_date}}
                        {% else %}
                        -
                        {% endif %}
                       </td>
                     <td>
                        {% if shipment.delivery_date %}
                        {{shipment.delivery_date}}
                        {% else %}
                        -
                        {% endif %}
                       </td>
                     <td>
                        {% if not shipment.shipment_status %}
                        -
                        {% else %}
                        {{shipment.shipment_status}}
                        {% endif %}
                       </td>
                      <td class="text-center">
                        <div class="badge badge-pill badge-success"><a href="{% url 'shipment:warehouse-processing-details' shipment_id=shipment.id %}">Details</a></div>
                        <a class="badge badge-pill badge-info" href="{% url 'shipment:edit-warehouse-processing-shipment' shipment_id=shipment.id %}">Edit</a>
                        <div class="badge badge-pill badge-danger" data-toggle="modal" data-target="#delete{{shipment.id}}">Delete</div>
                        <div id="delete{{shipment.id}}" class="modal top" tabindex="-1">
                            <div class="modal-dialog modal-sm ">
                                <div class="modal-content bg-white-300">
                                    <div class="modal-header">
                                     <center><h5 class="modal-title text-danger" align="center">Warning</h5></center>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    </div>
                                    <div class="modal-body">
                                        <center><i class="icon-help icon-4x mb-3 mt-1 " style="height: 40px;"></i>
                                           <i class="la la-question-circle text-danger" style="font-size:64px"></i>
                                            <h6 class="font-weight-semibold">Do you real want to delete?</h6>
                                        </center>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'shipment:delete-warehouse-processing-shipment' shipment_id=shipment.id %}"><button type="button"
                                                class="btn bg-success">Yes</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </td>
                   </tr>
                   {% endfor %}
                </tbody>
             </table>
             {% if page_obj %}
             <div class="pagination" style="float:center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary" href="?page=1">&laquo; First</a>
                        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
          </div>
       </div>
    </div>
 </div>
</div>

{% endblock content %}
