{% extends "common/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div id="content-page" class="content-page">
   <div class="container-fluid">
    <div class="row">
     <div class="col-6">
        <div class="iq-card">
            <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between row">
                   <div class="iq-header-title col-12">
                      <h4 class="card-title">{% if form %} Edit {% else %}Add  {% endif %} Grade</h4>
                   </div>
                   {% if message %}
                   <div class="alert alert-danger col-12" role="alert">
                     <div class="iq-alert-icon">
                       <i class="ri-information-line"></i>
                    </div>
                    <div class="iq-alert-text alert-danger">{{message}}</div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <i class="ri-close-line text-danger"></i>
                     </button>
                 </div>
                 {% endif %}
                </div>
                <div class="iq-card-body">

                    <form {% if form %} action="{% url 'core:edit-grade' grade_id=form.id %}" {% else %}  action="{% url 'core:add-grade'%}" {% endif %} method="post">
                      {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="text">Grade Name:</label>
                            <input type="text" class="form-control" {% if form %} value="{{ form.grade_name }}" {% endif %} name="grade_name" required>
                         </div>
                        


                         <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right" > {% if form %} Save  {% else %} Create {% endif %}</button>
                         </div>
                    </div>
                   </form>
                </div>
             </div>
        </div>
       </div>
       </div>
      </dev>

{% endblock %}
