{% extends "common/base.html" %}
{% load static %}

{% block content %}
<div id="content-page" class="content-page">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
       <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
             <h4 class="card-title">{{header|upper}}</h4>
          </div>
          <div class="iq-card-header-toolbar d-flex align-items-center">
             <div class="dropdown">
                <span >
                <a href="{% url 'core:add-grade'%}" class="btn btn-primary la la-plus-rounded">Add</a>
                </span>

             </div>
          </div>
       </div>
       <div class="iq-card-body">
          <div class="table-responsive">
             <table class="table mb-0 tbl">
                <thead class="thead-light ">
                   <tr>
                      <th scope="col">Grade Name</th>

                      <th scope="col">Action</th>
                   </tr>
                </thead>
                <tbody>
                    {% for grade in page_obj %}
                   <tr>
                      <td>{{grade.grade_name}}</td>

                      <td>
                        <a href="{% url 'core:edit-grade' grade_id=grade.id %}" class="badge badge-pill badge-info">Edit</a>
                        <div class="badge badge-pill badge-danger" data-toggle="modal" data-target="#delete{{grade.id}}">{% if grade.is_active %}Deactivate {% else %} Activate {% endif %}</div>
                        <div id="delete{{grade.id}}" class="modal top" tabindex="-1">
                           <div class="modal-dialog modal-sm ">
                               <div class="modal-content bg-white-300">
                                   <div class="modal-header">
                                    <center><h5 class="modal-title text-danger" align="center">Warning</h5></center>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                                   </div>
                                   <div class="modal-body">
                                       <center><i class="icon-help icon-4x mb-3 mt-1 " style="height: 40px;"></i>
                                          <i class="la la-question-circle text-danger" style="font-size:64px"></i>
                                           <h6 class="font-weight-semibold">{% if grade.is_active %}Do you  want to deactivate?{% else %}Do you  want to activate {% endif %}</h6>
                                       </center>
                                   </div>
                                   <div class="modal-footer">
                                       <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Cancel</button>
                                       <a href="{% url 'core:delete-grade' grade_id=grade.id %}"><button type="button"
                                               class="btn bg-success">Yes</button></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                     </td>
                   </tr>
                   {% endfor %}
                </tbody>
             </table>

          </div>
       </div>
    </div>
 </div>
</div>

{% endblock content %}


{% block js %}
{% include 'common/datatable.html' %}
   <script type="text/javascript">
    $(document).ready(function() {
        $('.tbl').DataTable( {
        destroy: true,
        paging:false,
        ordering:false,
        dom: 'Bfrtip',

        buttons: [
         'excel',
         {   text: '<i class="fa fa-plus-square-o"></i>ACTIVE',
                    className: 'btn btn-primary btn-p',
                     action: function (e, dt, node, config)
                        {
                            var url = "{% url 'core:grades' %}";
                          window.location=url;

                        }
                },

         { text: '<i class="fa fa-plus-square-o"></i>INACTIVE',
                    className: 'btn btn-danger btn-d',
                     action: function (e, dt, node, config)
                        {
                            var url = "{% url 'core:grades' %}?status=0";
                          window.location=url;

                        }
                }
        ]
    } );
    });
</script>
{% endblock %}




