{% load static %}
                <table class="table font15">
                         <tr>
                             <th style="width:20%;text-align:left;border:none;">
                                 <img width="150px" height="100px" src="static/common/img/logo2.PNG">
                             </th>

                         <th  style="width:80%;text-align:left;border:none;">
                           <h1 style="font-size:36px; color:#000;font-family: Arial, Helvetica, sans-serif;">
                               MAGEFA GROWERS LIMITED
                           </h1>
                        </th>
                        </tr>
                </table>