{% extends "common/base.html" %}
{% load static %}
{% load humanize %}
{% load tags %}

{% block content %}
<div id="content-page" class="content-page">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
       <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
             <h4 class="card-title">PCN:{{pcn.pcn_no}} DETAIL</h4>
          </div>
          <div class="iq-card-header-toolbar d-flex align-items-center">
             <div class="dropdown">
                <span >
                <a href="{% url 'market:add-market-ticket-request'%}" class="btn btn-primary la la-plus-rounded">Add</a>
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                   <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                   <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                   <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                   <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                   <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                </div>
             </div>
          </div>
       </div>
        <div class="col-md-12 row"><!--ROW -->
        <!--FIRST BOX-->
            <div class="col-md-12">
                <div class="col-md-12">
                <div class="iq-card-body">

                              <a href="" class="btn btn-danger">RELEASE TICKETS</a>
                                    <div class="table-responsive">

                                          <table class="table tbl table-bordered">
                                              <tr>
                                                  <td>Market</td><td><b>{{market_request.market.market_name}}</b></td>
                                                  <td>P/Society</td><td><b>{{market_request.society.name}}</b></td>
                                              </tr>


                                              <tr>
                                                <td>Sale No</td><td><b>{{market_request.sales_number}}</b></td>
                                                  <td>Sale Date</td><td><b>{{market_request.sales_date}}</b></td>
                                            </tr>


                                          </table>

                                     </div>
                </div>
                </div>

            </div>
        <!--END OF FIRST BOX-->
        <!--BODY BIG RIGHT-->
            <div class="col-md-12">
               <div class="iq-card-body">
                   <div class="col-md-12">
                    {% comment %}
                       {% if  pcn.is_data_verified %}<span class="btn badge badge-success float-right">VERIFICATION: VERIFIED</span><a href="javascript:;" onclick="modal_confirm_verify('{% url 'market:deverify-pcn' pcn_id=pcn.id%}');" class="float-right btn btn-secondary"><i class="mdi mdi-checkbox-multiple-marked"></i> DE-VERIFY </a>{% else %} <span class="btn badge badge-warning float-right">VERIFICATION: NOT YET</span>{% endif %} {% if not pcn.is_data_verified %}
                    {% endcomment %}

                       <a href="{% url 'market:pcn-detail-update' pcn_id=pcn.id %}" class="float-right btn btn-info"><i class="mdi mdi-checkbox-multiple-marked"></i> UPDATE </a>

                         {% comment %}
                       <a href="javascript:;" onclick="modal_confirm_verify('{% url 'market:verify-pcn' pcn_id=pcn.id%}');" class="float-right btn btn-secondary"><i class="mdi mdi-checkbox-multiple-marked"></i> MARK AS VERIFIED </a>{% endif %}
                        {% endcomment %}
                       <a class="btn btn-secondary" href="{% url 'market:pdf-single-pcn' pcn_id=pcn.id %}">EMPT.PDF</a><a class="btn btn-secondary" href="{% url 'market:pdf-single-pcn' pcn_id=pcn.id %}?type=1">DATA.PDF</a>
                   </div>
                  <div class="table-responsive">
                       <table id="items" class="table table-bordered">

                                  <tr bgcolor="#e5e5e5">
                                      <th>SN</th>
                                      <th>TICKET</th>
                                      <th>PURCHASE<br/> GRADE</th>
                                      <th>WEIGHT</th>

                                      <th>PRICE</th>
                                      <th>VALUE</th>
                                      <th>BUYER </th>
                                      <th>T.WEIGHT</th>
                                      <th>RCVD.WEIGHT</th>

                                      <th>REMARKS</th>
                                  </tr>
                                   <tbody>

                                          {% for tk in bales %}
                                          <tr class="item-row">
                                              <td>{{forloop.counter}}</td>
                                              <td class="item-name">
                                                  <input type="hidden" name="ticket_no" required class="form-control ticket_id" value="{{tk.ticket_id}}" />
                                                  {{tk.ticket.ticket_number}}</td>
                                              {% get_transport_weight tk.id  as tweight %}
                                           {% get_rcvd_weight tk.id  as Rcvweight %}
                                              <td class="">{{tk.grade.grade_name}}</td>
                                              <td>{% if tk.primary_weight %}{{tk.primary_weight}}{% endif %}</td>
                                                <td>{% if tk.price %}${{tk.price|floatformat:-2|intcomma}}{% endif %}</td>
                                              <td>{% if tk.value %}${{tk.value|floatformat:-2|intcomma}}{% endif %}</td>
                                              <td>{% if tk.buyer_code %}{{tk.buyer_code}}{% endif %}</td>
                                              <td>{% if tweight %}{{tweight|floatformat:-2|intcomma}}{% else %} {% endif %}</td>
                                              <td>{% if Rcvweight %}{{Rcvweight|floatformat:-2|intcomma}}{% else %} {% endif %}</td>
                                              <td>{% if tk.status %}{{tk.status}}{% endif %}</td>

                                          </tr>
                                          {% endfor %}
                                            {% for tk in pcn_total %}
                                          <tr class="item-row" bgcolor="e0e0e0">
                                              <td ></td>
                                              <td class="item-name">
                                                  <input type="hidden" name="ticket_no" required class="form-control ticket_id" value="{{tk.ticket_id}}" />
                                                  {{tk.noTotal}}</td>
                                              <td class=""></td>
                                              <td>{% if tk.primary_weightT %}{{tk.primary_weightT}}{% endif %}</td>
                                                <td></td>
                                              <td>{% if tk.valueT %}${{tk.valueT|floatformat:-2|intcomma}}{% endif %}</td>
                                              <td></td>
                                              <td></td>
                                              <td></td>

                                          </tr>
                                          {% endfor %}
                                   </tbody>
                                </table>

                  </div>
            </div>
        <!--BODY 2-->
            </div><!--ROW /-->
       </div>
    </div>
 </div>
</div>

{% endblock content %}
